**gcc-pico-compatible.folder/

**ocd-cfg.folder/
**/.DS_STORE
**/.idea
**/.gdbinit

**/.idea
**/.DS_STORE
**/.gdbinit
**/CMakeLists.txt.user
**/.idea
**/CMakeCache.txt
*/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps



