*/CMakeLists.txt.user

.idea

*/*/.ninja_deps
*/*/.ninja_log
**/build.ninja

**/.idea

**/.ninja_deps
**/.ninja_log
**/build.ninja

**/*.map

**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake

**/compile_commands.json
**/CTestTestfile.cmake
**/_deps
.DS_Store
