transport list
#source [find interface/stlink-dap.cfg]
source [find interface/stlink.cfg]
source [find target/swj-dp.tcl]
source [find mem_helper.tcl]
############ for testing auto probing
#reset_config srst_only
############ done auto probing
#adapter speed 2000
#source [find target/stm32f4x.cfg]
set _CHIPNAME stm32f446
set _ENDIAN little
# == 128 kbytes for f446 chip
set _WORKAREASIZE   0x1C000
#for stm32f4x   , tapid = 0x2ba01477
if {[using_jtag]} {
    set _CPUTAPID 0x4ba00477
} else {
    set _CPUTAPID   0x2ba01477
}

# tap creation + dap creation
swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
echo "jtag new tap done"
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu
# target creation
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -endian $_ENDIAN -dap $_CHIPNAME.dap

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size $_WORKAREASIZE -work-area-backup 0
### flash configuration
set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME stm32f2x 0 0 0 0 $_TARGETNAME
flash banks

echo "done after config setup"
adapter speed 2000
adapter srst delay 100
reset_config srst_nogate

## target event setup
$_TARGETNAME configure -event examine-end {
    echo "on examine -end"
    #enable debug during low power modes
    # DBGMCU_CR |=DBG_STANDBY | DBG_STOP | DBG_SLEEP
    mmw 0xE0042004 0x00000007 0
    #stop watchdog counters during halt
    #dbgmcu_apb1_fz |= dbg_iwdg_stop | dbg_wwdg_stop
    mmw 0xE0042008 0x00001800 0
}

$_TARGETNAME configure -event trace-config {
    echo "trace-config"
    #set trace_ioen ; trace_mode is set to async; when using sync change this value
    # accordingly to configure trace pins assignment
    mmw 0xE0042004 0x00000020 0
}

$_TARGETNAME configure -event reset-init {
    echo "reset-init"
    #configure pll to boost clock to hsi * 4 = 64 mhz
    mww 0x40023804 0x08012008 ; # rcc_pllcfgr 16mhz / 8(m) * 128(n) / 4(p)
    mww 0x40023c00 0x00000102 ; # flash_acr = prftbe | 2(latency)
    mmw 0x40023800 0x01000000   0 ; # rcc_cr |= pllon
    sleep 10 ; # wait for pll to clock
    mmw 0x40023808 0x00001000   0  ; #rcc_cfgr |= rcc_cfgr_ppre1_div2
    mmw 0x40023808 0x00000002   0   ; rcc_cfgr |= rcc_cfgr_sw_pll
    ; boost jtag frequency
    adapter speed 8000
}

$_TARGETNAME configure -event reset-start {
    # reduse speed since cpu will slow down to 16 mhz with reset
    echo "reset-start"
    adapter speed 2000
}